.closeButtonControl {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;

  .closeIcon {
    width: 25px;
    height: 25px;

    path {
      fill: #fff;
    }
  }
}