:root {
  --application-transition-duration: 0.2s;
  --application-transition-function: ease;
  --application-primary-color: #e62429;
  --application-secondary-color: #202020;
  --application-tertiary-color: #767676;
  --application-primary-text-color: #ffffff;
}