#charactersMain {
  display: grid;
  grid-template-rows: 400px auto;
  row-gap: 20px;

  .charactersBanner {
    width: calc(100% - 40px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/marvel-characters.jpg');
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .charactersHeading {
      color: var(--application-primary-text-color);
      font-family: 'Roboto-Bold';
      text-transform: uppercase;
      letter-spacing: 0.6px;
      margin: 5px 0;
      text-align: center;
    }

    .charactersLabel {
      color: var(--application-primary-text-color);
      font-size: 20px;
      margin: 5px 0;
      text-align: center;
    }
  }

}