.drawer {

  .drawerHeader {
    padding: 20px;
    display: grid;
    grid-template-columns: auto 40px;
    column-gap: 20px;
    align-items: center;

    .headerLogo {
      width: 100px;
    }

    .closeControl {
      color: var(--application-primary-text-color);
    }
  }

  .drawerBody {
    padding: 20px;
    display: grid;
    grid-auto-rows: 18px;
    row-gap: 20px;

    .sidebarItem {
      cursor: pointer;
      font-family: 'Roboto-Medium';
      font-size: 18px;
      color: var(--application-primary-text-color);
      text-decoration: none;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      transition: color var(--application-transition-duration) var(--application-transition-function);

      &:hover {
        color: var(--application-primary-color);
      }
    }
  }

}