@import 'styles/media-query';

@mixin banner {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeBannerMain {

  .bannerContent {
    padding: 0px 20px;
    display: grid;
    align-items: center;
    position: absolute;
    width: 30%;
    height: 100%;
    grid-template-rows: min-content min-content min-content;
    row-gap: 30px;
    padding: 30px;

    .bannerText {
      font-size: 55px;
      font-family: 'Roboto-Bold';
      color: var(--application-primary-text-color);
      margin: 0;
    }

    .bannerDescription {
      font-size: 18px;
      font-family: 'Roboto-Regular';
      color: var(--application-primary-text-color);
      margin: 0;
      line-height: 25px;
      letter-spacing: 0.5px;
    }

    .seeMoreControl {
      text-decoration: none;
      width: 150px;
      height: 50px;
      background-color: var(--application-primary-color);
      display: grid;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      color: var(--application-primary-text-color);
      font-size: 16px;
      text-transform: uppercase;
    }

    .typewriterContent {
      margin: 0px;
      color: var(--application-primary-color);
      background: linear-gradient(transparent 90%, var(--application-primary-text-color) 20%);
    }

    .typewriterCursor {
      color: var(--application-primary-text-color);
    }
  }

  .desktopBannerImageWrapper {
    @include banner;
    background-image: url('/assets/images/desktopBanner.jpg');
    height: 450px;
    position: relative;
    display: block;
  }

  .mobileBannerView {
    display: none;
  }

  .mobileBannerImage {
    @include banner;
    background-image: url('/assets/images/mobileBanner.jpg');
    height: 200px;
  }

}

@include medium-screen {

  .homeBannerMain {

    .desktopBannerImageWrapper {
      display: none;
    }

    .mobileBannerView {
      display: block;
    }

    .bannerContent {
      position: static;
      background-color: var(--application-secondary-color);
      width: calc(100% - 40px);
      padding: 20px;

      .bannerText {
        font-size: 40px;
        text-align: center;
      }

      .bannerDescription {
        text-align: center;
      }

      .seeMoreControl {
        width: 100%;
      }

    }

  }

}