.charactersMain {
  padding: 20px;
  display: grid;
  grid-template-columns: 25px auto;
  column-gap: 20px;

  .charactersTitle {
    font-size: 25px;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0;
  }
}
