body {
  margin: 0;
  font-family: Roboto-Medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/font-families/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("./assets/font-families/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/font-families/Roboto-Regular.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
